body{
    background-color: rgb(207, 207, 207);
}
#photo-profil img{
    width: 200px;
}
#description h2{
    color: rgb(82, 82, 82);
    font-size: 25px;
}
#description p{
    color: rgb(37, 37, 37);
}
.center-align {
    position: absolute;
    top: 30%;
    left: 18%;
    width: 65%;
}

@media screen and (max-width: 768px) {
    .center-align {
        position: relative;
        margin-top: 30px;
    }
  }
