body{
    background-color: white;
}
#container-blog-cdiscount{
    overflow: scroll;
}
/* Navbar */
#navbar nav{
    background-color: #293545;
  }
  /* Accueil Stage */
  #blog-intro ul{
    list-style: none;
    padding: 0;
  }
  #blog-intro li{
    list-style: none;
    padding: 0;
    margin-top: 20px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 5px;
  }

  #blog-stage-img-list img{
    width: 180px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  #bloc-stage-list{
    display: flex;
  }
  #blog-stage-txt-list h5{
    margin-left: 20px;
    margin-top: 15px;
    color: rgb(73, 73, 73);
  }
  #blog-stage-txt-list h5:hover{
    color: rgb(107, 107, 107);
  }
  .lien-p{
    margin: 0px;
    margin-top: 0px!important;
    margin-left: 20px;
    color: rgb(73, 73, 73);
  }
  
  .lien:hover{
    text-decoration: none;
  }
  
  /* Blog */
  #img-fond-accueil{
    background-image: url(../img/Blog/fond-cdiscount.png);
    background-size: cover;
    height: 400px;
  }
  #img-fond-blog{
    background-color: #293545;
    height: 250px;
  }
  .date{
    color: #c73a0f;
  }

  #img-fond-blog-accueil{
    background-color: #293545;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #blog-intro{
    margin-top: 30px;
  }
  
  #blog-intro p{
    margin-top: 20px;
  }
  
  #blog-part-1, #blog-part-2, #blog-part-3, #blog-part-4{
    margin-top: 25px;
  }
  #blog-part-1 p, #blog-part-2 p, #blog-part-3 p, #blog-part-4 p{
    margin-top: 15px;
  }
  
  #blog-part-4{
    margin-bottom: 50px;
  }
  
  /* Footer */
  #logo-blog-ln img{
    width: 45px;
  }
  #logo-blog-git img{
    width: 45px;
    margin-left: 10px;
  }
  
  #copyright p{
    line-height: 40px;
  }
  
  #copyright-accueil{
     position: absolute;
     width: 80%;
     bottom: 10px;
  }
  #copyright-accueil p{
    line-height: 40px;
  }
  @media screen and (max-width: 576px) {
    #img-fond-accueil{
      height: 200px;
    }
    .accueil-blog-bloc #blog-intro h2{
      font-size: 22px;
    }
    #blog-stage-img-list img{
     display: none;
    }
    #blog-stage-txt-list h5{
      margin-left: 10px;
      margin-top: 5px;
      font-size: 16px;
    }
    #blog-stage-txt-list h5:hover{
      color: rgb(107, 107, 107);
    }
    .lien-p{
      margin-left: 10px;
      color: rgb(73, 73, 73);
    }
    .lien-p-last{
      margin-bottom: 5px;
    }
    #blog-intro h3{
     font-size: 22px;
    }
    #img-fond-blog-accueil h3{
      font-size: 18px;
      margin-top: 5px;
    }
    #img-fond-blog-accueil p{
      font-size: 14px;
    }
    #img-fond-blog-accueil{
      padding-top: 40px;
      padding-bottom: 35px;
    }
  
  }
  @media screen and (min-width: 992px){
    #img-fond-accueil{
      height: 400px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 992px){
    #img-fond-accueil{
      height: 300px;
    }
  }
  @media screen and (min-width: 576px) and (max-width: 768px){
    #img-fond-accueil{
      height: 250px;
    }
    .accueil-blog-bloc #blog-intro h2{
      font-size: 27px;
    }
    #blog-stage-txt-list h5{
      margin-left: 10px;
      margin-top: 17px;
      font-size: 17px;
    }
    #blog-stage-txt-list h5:hover{
      color: rgb(107, 107, 107);
    }
    .lien-p{
      margin-left: 10px;
      color: rgb(73, 73, 73);
    }
    .lien-p-last{
      margin-bottom: 5px;
    }
    #blog-intro h3{
     font-size: 22px;
    }
    #img-fond-blog-accueil h3{
      font-size: 23px;
      margin-top: 5px;
    }
    #img-fond-blog-accueil p{
      font-size: 18px;
    }
  }

