body{
    background-color: white;
}
#container-blog-cdiscount{
    overflow: scroll;
}
/* Navbar */
#navbar nav{
    background-color: #293545;
  }
  /* Accueil Stage */
  #blog-intro ul{
    list-style: none;
    padding: 0;
  }
  #blog-intro li{
    list-style: none;
    padding: 0;
    margin-top: 20px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 5px;
  }

  #blog-stage-img-list img{
    width: 180px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  #bloc-stage-list{
    display: flex;
  }
  #blog-stage-txt-list h5{
    margin-left: 20px;
    margin-top: 15px;
    color: rgb(73, 73, 73);
  }
  #blog-stage-txt-list h5:hover{
    color: rgb(107, 107, 107);
  }
  .lien-p{
    margin: 0px;
    margin-top: 0px!important;
    margin-left: 20px;
    color: rgb(73, 73, 73);
  }
  
  .lien:hover{
    text-decoration: none;
  }
  
  /* Blog */
  #img-fond-accueil{
    background-image: url(../img/Blog/fond-cdiscount.png);
    background-size: cover;
    height: 400px;
  }
  #img-fond-accueil-entreprise{
    background-image: url(../img/Blog/welcome.jpg);
    background-size: cover;
    height: 400px;
  }
  #img-fond-mission-effectuees{
    background-image: url(../img/Blog/mission.jpg);
    background-size: cover;
    height: 400px;
  }
  #img-fond-deuxieme-mission{
    background-image: url(../img/Blog/deuxieme-mission.jpg);
    background-size: cover;
    height: 400px;
  }
  #img-fond-troisieme-mission{
    background-image: url(../img/Blog/troisieme-mission.jpg);
    background-size: cover;
    height: 400px;
  }
  #img-fond-connaissance-mobilisees{
    background-image: url(../img/Blog/connaissance.jpg);
    background-size: cover;
    height: 400px;
  }
  #img-fond-difficultes-rencontrees{
    background-image: url(../img/Blog/difficulte.jpg);
    background-size: cover;
    height: 400px;
  }
  #img-fond-competences-acquises{
    background-image: url(../img/Blog/competence.jpg);
    background-size: cover;
    height: 400px;
  }
  #img-fond-bilan-stage{
    background-image: url(../img/Blog/bilan.jpg);
    background-size: cover;
    height: 400px;
  }
  #lien-cdiscount{
    color: #0db2ff;
  }
  .previous-page{
    color: #0db2ff;
  }
  .previous-page:hover{
    cursor: pointer;
  }

  #img-fond-blog{
    background-color: #293545;
    height: 250px;
  }
  .date{
    color: #c73a0f;
  }
  #color-detail{
    color: #c73a0f;
  }
  #writter{
    font-size: 17px;
    color: #4d4d4d;
  }

  #img-fond-blog-accueil-2{
    background-color: #293545;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #img-fond-blog-accueil{
    background-color: #293545;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  #propos-profil-img img{
    width: 80%;
  }
  #propos-title{
    margin-top: auto!important;
    margin-bottom: auto!important;
    margin-left: 0px;
  }
  #blog-intro{
    margin-top: 30px;
  }
  
  #blog-intro p{
    margin-top: 20px;
  }
  
  .blog-part{
    margin-top: 25px;
  }
  .blog-part p{
    margin-top: 15px;
  }
  .blog-conclusion{
    margin-top: 25px;
    margin-bottom: 50px;
  }
  
  /* Footer */
  #logo-blog-ln img{
    width: 45px;
  }
  #logo-blog-git img{
    width: 45px;
    margin-left: 10px;
  }

  .blog-img-size{
    width: 100%;
  }
  
  #copyright p{
    line-height: 40px;
  }
  
  #copyright-accueil{
     position: absolute;
     width: 80%;
     bottom: 10px;
  }
  #copyright-accueil p{
    line-height: 40px;
  }
  #footer-mobile{
    margin-top: 240px;
  }
  #bloc-article #blog-intro h2{
    font-size: 18px;
  }
  @media screen and (max-width: 576px) {
    #img-fond-accueil, #img-fond-accueil-entreprise, #img-fond-mission-effectuees, #img-fond-deuxieme-mission, #img-fond-troisieme-mission,
    #img-fond-connaissance-mobilisees, #img-fond-difficultes-rencontrees, #img-fond-competences-acquises, #img-fond-bilan-stage{
      height: 200px;
    }
    .accueil-blog-bloc #blog-intro h2{
      font-size: 22px;
    }
    #blog-stage-img-list img{
     display: none;
    }
    #blog-stage-txt-list h5{
      margin-left: 10px;
      margin-top: 5px;
      font-size: 16px;
    }
    #blog-stage-txt-list h5:hover{
      color: rgb(107, 107, 107);
    }
    .lien-p{
      margin-left: 10px;
      color: rgb(73, 73, 73);
    }
    .lien-p-last{
      margin-bottom: 5px;
    }
    #blog-intro h3{
     font-size: 22px;
    }
    #img-fond-blog-accueil h3{
      font-size: 18px;
      margin-top: 5px;
    }
    #img-fond-blog-accueil p{
      font-size: 14px;
    }
    #img-fond-blog-accueil{
      padding-top: 40px;
      padding-bottom: 35px;
    }
    #copyright-accueil{
      display: none;
    }
    #footer-mobile{
      display: none;
    }
    #footer-blog{
      display: none;
    }
  }
  @media screen and (min-width: 992px){
    #img-fond-accueil, #img-fond-accueil-entreprise, #img-fond-mission-effectuees, #img-fond-deuxieme-mission, #img-fond-troisieme-mission,
    #img-fond-connaissance-mobilisees, #img-fond-difficultes-rencontrees, #img-fond-competences-acquises, #img-fond-bilan-stage{
      height: 400px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 992px){
    #img-fond-accueil, #img-fond-accueil-entreprise, #img-fond-mission-effectuees, #img-fond-deuxieme-mission, #img-fond-troisieme-mission,
    #img-fond-connaissance-mobilisees, #img-fond-difficultes-rencontrees, #img-fond-competences-acquises, #img-fond-bilan-stage{
      height: 300px;
    }
    #footer-mobile{
      margin-top: 200px;
    }
  }
  @media screen and (min-width: 576px) and (max-width: 768px){
    #img-fond-accueil, #img-fond-accueil-entreprise, #img-fond-mission-effectuees, #img-fond-deuxieme-mission, #img-fond-troisieme-mission,
    #img-fond-connaissance-mobilisees, #img-fond-difficultes-rencontrees, #img-fond-competences-acquises, #img-fond-bilan-stage{
      height: 250px;
    }
    .accueil-blog-bloc #blog-intro h2{
      font-size: 27px;
    }
    #blog-stage-txt-list h5{
      margin-left: 10px;
      margin-top: 17px;
      font-size: 17px;
    }
    #blog-stage-txt-list h5:hover{
      color: rgb(107, 107, 107);
    }
    .lien-p{
      margin-left: 10px;
      color: rgb(73, 73, 73);
    }
    .lien-p-last{
      margin-bottom: 5px;
    }
    #blog-intro h3{
     font-size: 22px;
    }
    #img-fond-blog-accueil h3{
      font-size: 23px;
      margin-top: 5px;
    }
    #img-fond-blog-accueil p{
      font-size: 18px;
    }
  }

