body{
    background-color: white;
}
#container-blog-cdiscount{
    overflow: scroll;
}
/* Navbar */
#navbar nav{
    background-color: rgb(53, 122, 107);
  }
  /* Accueil Stage */
  #blog-intro ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 5px;
  }
  #blog-stage-img-list img{
    width: 180px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  #bloc-stage-list{
    display: flex;
  }
  #blog-stage-txt-list h5{
    margin-left: 20px;
    margin-top: 15px;
    color: rgb(73, 73, 73);
  }
  #blog-stage-txt-list h5:hover{
    color: rgb(107, 107, 107);
  }
  .lien-p{
    margin: 0px;
    margin-top: 0px!important;
    margin-left: 20px;
    color: rgb(73, 73, 73);
  }
  
  .lien:hover{
    text-decoration: none;
  }
  
  /* Blog */
  #img-fond-accueil{
    background-image: url(../img/Blog/fond-cdiscount.png);
    background-size: cover;
    height: 500px;
  }
  #img-fond-blog{
    background-color: rgb(53, 122, 107);
    height: 250px;
  }
  #blog-intro{
    margin-top: 30px;
  }
  
  #blog-intro p{
    margin-top: 20px;
  }
  
  #blog-part-1, #blog-part-2, #blog-part-3, #blog-part-4{
    margin-top: 25px;
  }
  #blog-part-1 p, #blog-part-2 p, #blog-part-3 p, #blog-part-4 p{
    margin-top: 15px;
  }
  
  #blog-part-4{
    margin-bottom: 50px;
  }
  
  /* Footer */
  #logo-blog-ln img{
    width: 45px;
  }
  #logo-blog-git img{
    width: 45px;
    margin-left: 10px;
  }
  
  #copyright p{
    line-height: 40px;
  }
  
  #copyright-accueil{
     position: absolute;
     width: 80%;
     bottom: 10px;
  }
  #copyright-accueil p{
    line-height: 40px;
  }